/*heading of the game*/
nav ul{
    list-style: none;
    text-align: center;
    color: rgb(64, 27, 104);
    font-size: xxx-large;    
    border-radius: 2rem;    
    margin: 5% 10% 0% 10%;  
    
}

nav{
    background-color:#14bdac;    
    border-radius: 1em;
    width: 70%;
    margin: 0% 0% 0% 15%;
}

