@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:ital,wght@1,500&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;

}

/*heading of the game*/
nav ul {
    list-style: none;
    color: rgb(45, 13, 78);
    font-size: 30px;
    border-radius: 2rem;
    font-family: playfaoir+Display, sans-serif;
    padding: 0 15px;
    align-items: center;
    text-align: center;

}

nav {
    background-color: #88c0ba;

}

/* Style Game-Area*/

#game-container {
    margin-top: auto;
    display: flex;
    height: 65vh;
    width: 105vw;
    justify-content: center;
    align-items: center;

}

.container {
    display: grid;
    grid-template-columns: repeat(3, 15vw);
    grid-template-rows: repeat(3, 15vh);
    margin: auto;
}

.box {
    border: 2px solid;
    font-size: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box:hover {
    background-color: rgb(167, 210, 238);
}


/*style for result area*/

#resultArea {
    margin-top: 70px;
    width: 50%;

}

#resultArea p {
    font-family: cursive;
    font-size: 2em;
}

#resultArea .turn1 {
    border-style: groove;
    border-color: darkgreen;
    border-radius: 5px;
    margin-left: 15px;

}

#resultArea .Newgame {
    border-style: groove;
    border-color: darkgreen;
    border-radius: 5px;

}

.Newgame:hover {
    background-color: rgb(172, 172, 235);
}

#resultArea .cheerImage {
    width: 0;
    transition: width 1s ease-in-out;
}

/*remove border for main game area*/

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.br-0 {
    border-right: 0;
}

.bb-0 {
    border-bottom: 0;
}